body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #576A7D;
}

*,
* :after,
* :before {
    box-sizing : border-box
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}



.header {
    width: 100%;
    height: 9%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #7F8EA8;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    font-size: 100%;
    text-transform: uppercase;

}


.nav_text{
    font-size: 100%;
    text-transform: uppercase;
    color: #fff;
    
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 1.2vw;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;
}


.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3%;


    background-color: #fff;
    opacity: 0;

    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}

.nav__link:hover{
    color:#fce38a
}


.nav__link:hover:after{
    opacity: 1;
}


.footer{
    position: relative; 
    left: 0; bottom: 0; 
    width: 100%;
    float:left;
    padding: 1%;
    background-color: #7F8EA8;  
    border-top: 2px solid silver;
    margin-top: 5%;

}

.footer__title{
    float:left;
    width:50%;
    text-align: right;
    font-size:170%;
    color:#fff;
    padding-top: 1%;
}

.main_radio {
    float:left;
    width:30%;
    height:auto;
    padding-top: 70px;
    padding-left: 100px; 
}


input[type="radio"] { 
    display: none; 
    
    
} 

input[type="radio"] + label { 
    font-weight: bold; 
    font-size: 25px;
    font-style: italic;
    color: #d6af23;
    
} 

input[type="radio"] + label span { 
   display: inline-block; 
   width: 18px; 
   height: 18px; 
   margin: 40px 0px 40px 40px; 
   vertical-align: middle; 
   cursor: pointer; 
   -moz-border-radius: 50%;
    border-radius: 50%; 
    border: 3px solid #ffffff; 
} 

input[type="radio"] + label span { 
    background-color: #fff; 
} 

input[type="radio"]:checked + label { 
    color: #fff; 
    font-weight: 700; 
} 

input[type="radio"]:checked + label span { 
    background-color: #ff8800; 
    border: 2px solid #ffffff; 
    box-shadow: 2px 2px 2px rgba(0,0,0,.1); 
} 

input[type="radio"] + label span, input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear; 
}


.canvas__wrapper {
    float:right;
    padding-top: 70px;
    padding-right: 30px; 
    padding-bottom: 30px;
    width:70%;
    height: 525px;
    font-weight: bold; 
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center; 
}

.resize-image{
    background-size: cover;
    width: 100%;
    height: 100%;
}



.main_activity{
    margin-top: 0;
    padding-top: 7%;
    padding-bottom: 3%;
    position: relative;
}


.main_section_odd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 30px;
    background-color: #748094;
    color: rgb(255, 255, 255);
    text-align: center; 
}

.main_section_even{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 30px;
    background-color: #7F8EA8;
    color: rgb(255, 255, 255);
    text-align: center; 
}




.main_win_activity{
    margin-top: 0;
    padding-left: 4%;
    padding-top: 7%;
    padding-right: 4%;
    padding-bottom:10%;
    position: relative;
}


.main_win_players_activity{
    padding-left: 4%;
    padding-top: 15%;
    padding-right: 4%;
    padding-bottom:20%;
    position: relative;
}


.win_section{
    float: left;
    font-weight: bold; 
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center; 
}



.loose_section{
    float: right;
    font-weight: bold; 
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center; 
}



.main_top_player_activity{
    margin-top: 0;
    padding-left: 4%;
    padding-top: 7%;
    padding-right: 4%;
    position: relative;
}


.bullet_section{
    float: left;
    font-weight: bold; 
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center; 
    width: 20%;
}



.blitz_section{
    display: inline-block;
    margin-left:18%;
    font-weight: bold; 
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center; 
    width: 20%;
}

.rapid_section{
    float: right;
    font-weight: bold; 
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center; 
    width: 20%;
}



.main_rate_activity{
    padding-left: 4%;
    padding-top: 5%;
    padding-right: 4%;
    padding-bottom:5%;
    position: relative;
}



.main_stat_activity{
    padding-left: 4%;
    padding-top: 10%;
    padding-right: 4%;
    padding-bottom:15%;
    position: relative;
}


.main_win_stat_activity{
    margin-top: 0;
    padding-left: 4%;
    padding-top: 7%;
    padding-right: 4%;
    padding-bottom:5%;
    position: relative;
}




.date_text{
    color: #d6af23;
    margin-left: 4%;
    font-style: italic;
    font-weight: bold;
}

.strong_win_text{
    color: green;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}


.strong_loose_text{
    color: red;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}

.loss_text{
    margin-right: 4%;
}



.small_image{
    float: left;
    width:3%;
    height:3%;
}



.footer__logo{
    width:3%;
    height:3%;
    margin-top: 1%;
}


.top_player_title{
    color: black;
    background-color: #d6af23;
}


.top_player_string{
    border-bottom: 2px solid silver;
    width:auto
}


.GM{
    color: yellow;
    float: left;
    text-align: left;
}

.top_player{
    font-style: italic;
    display: inline-block;
    text-align: center;
}

.top_rate{
    color: red;
    float: right;
    text-align: right;    
}



.simple_date_text{
    color: #d6af23;
    font-style: italic;
    font-weight: bold;
}



.top_player_with_play{
    font-style: italic;
    border-bottom: 2px solid silver;
}


.strong_win_fil_text{
    color: rgb(164, 91, 248);
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}



.strong_small_win_fil_text{
    color: rgb(164, 91, 248);
    font-weight: bold;
}




.strong_loose_fil_text{
    color: red;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}



.strong_small_loose_fil_text{
    color: red;
    font-weight: bold;
}

