
:root {
    --color-back-body: #576A7D;
    --color-white: #fff;
    --color-back-head: #7F8EA8;
    --color-link-hover:#fce38a;
    --color-solid-silver:#8e9197;
    --color-black:#000000;
    --color-red:#ff0000;
    --color-input:#d6af23;
    --color-input-label:#ff8800;
    --color-section-odd:#748094;
    --color-section-even:#7F8EA8;
    --color-date:#d6af23;
    --color-green:#007022;
    --color-purple:#70004e;
    --color-pink:#fa4299;
    --color-light-grey:#dfd5da;
  }


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: var(--color-back-body);
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
    justify-content:space-between;
}

*,
* :after,
* :before {
    box-sizing : border-box
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}





.header {
    min-height: 5rem;
    padding: 1rem 2rem 0 2rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-back-head);
    
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    font-size: 1rem;
    text-transform: uppercase;

}


.nav_text{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--color-white);
    
}

.nav__link{
    display: inline-block;
    margin: 0 1.2rem;
    position: relative;

    color: var(--color-white);
    text-decoration: none;

    transition: color 0.1s linear;
}


.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;


    background-color: var(--color-white);
    opacity: 0;

    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}

.nav__link:hover{
    color:var(--color-link-hover);
}


.nav__link:hover:after{
    opacity: 1;
}




.footer{
    position: relative; 
    left: 0; bottom: 0; 
    padding: 1rem;
    background-color: var(--color-back-head);  
    border-top: 0.125rem solid var(--color-solid-silver);
    min-height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

.footer__title{
    width:40rem;
    text-align: right;
    font-size:2rem;
    color:var(--color-white);
    padding: 1rem 0 0 0;
}


.index_main{
  display:flex; 
  flex-direction:column;
  justify-content:space-between;
}

.main_radio {
  font-weight: bold; 
  font-size: 1.5rem;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_radio{
  margin:2rem 2rem 2rem 2rem;
}

.form_radio input[type="radio"] { 
    display: none; 

} 

.form_radio input[type="radio"] + label { 

    color: var(--input-color);
} 

.form_radio input[type="radio"] + label span { 
   display: inline-block; 
   width: 1rem; 
   height: 1rem; 
   margin: 0rem 1rem 0 1rem; 
   vertical-align: middle; 
   cursor: pointer; 
    border-radius: 0.5rem; 
    border: 0.3rem solid var(--color-white);
    background-color: var(--color-white); 
    transition: background-color 0.24s linear; 
} 



.form_radio input[type="radio"]:checked + label { 
    color: var(--color-white); 
    font-weight: 700; 
} 

.form_radio input[type="radio"]:checked + label span { 
    background-color: var(--color-input-label);
    border: 0.125rem solid var(--color-white); 
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,.1); 
    transition: background-color 0.24s linear; 
} 



.canvas__wrapper {
    font-weight: bold; 
    font-size: 2rem;
    color: var(--color-white);
    text-align: center; 
    display:flex; 
    flex-direction:column;
    justify-content:space-between;
}


.resize-canvas{
    margin: 1rem auto 3rem auto;
    width:45rem;
    height:25rem;
    border: 0.1rem solid var(--color-black);
}


.top_player_title_rating{
  margin: 1rem auto 0 auto;
  width:45rem;
  color: var(--color-black);
  background-color: var(--color-date);
}


.top_player_title{

  color: var(--color-black);
  background-color: var(--color-date);
}





.main_activity{
    margin: 0;
    padding: 7rem 0 3rem 0;
    position: relative;
}


.main_section_odd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 2rem;
    background-color: var(--color-section-odd);
    color: var(--color-white);
    text-align: center; 
}

.main_section_even{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 2rem;
    background-color: var(--color-section-even);
    color: var(--color-white);
    text-align: center; 
}




.main_win_activity{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    padding: 7rem 10rem 5rem 6rem;
    position: relative;
}


.main_win_players_activity{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 5rem 4rem 5rem 4rem;
    position: relative;
}


.win_section{
    font-weight: bold; 
    font-size: 1.5rem;
    color: var(--color-white);
    text-align: center; 
}



.loose_section{
    font-weight: bold; 
    font-size: 1.5rem;
    color: var(--color-white);
    text-align: center; 
}



.main_top_player_activity{
    margin: 0;
    padding:7rem 4rem 0 4rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.blitz_section{
    font-weight: bold; 
    font-size:1.2rem;
    color: var(--color-white);
    text-align: center; 
    width: auto;
}




.main_rate_activity{
    padding:5rem  4rem 5rem 4rem;
    position: relative;
}



.main_stat_activity{
    padding: 5rem 4rem 5rem 4rem;
    position: relative;
}


.main_win_stat_activity{
    margin: 0;
    padding: 7rem 4rem 5rem 4rem;
    position: relative;
}




.date_text{
    color: var(--color-date);
    margin: 0 0 0 0.25rem;
    font-style: italic;
    font-weight: bold;
}

.strong_win_text{
    color: var(--color-green);
    font-weight: bold;
    font-size: 2.5rem;
    font-style: normal;
}


.strong_loose_text{
    color: var(--color-red);
    font-weight: bold;
    font-size: 2.5rem;
    font-style: normal;
}

.loss_text{
    margin:0 0.25rem 0 0;
}



.small_image{
    width:1.5rem;
    height:1.5rem;
}



.footer__logo{
    width:1.5rem;
    height:1.5rem;
    margin: 1rem 0 0 0;
}





.top_player_string{
    border-bottom: 0.125rem solid var(--color-solid-silver);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.GM{
    color: var(--color-date);
    text-align: left;
    padding: 0 0 0 1rem;
}

.top_player{
    font-style: italic;
    text-align: center;
}

.top_rate{
    color: var(--color-red);
    text-align: right;
    padding-right: 0 1.5rem 0 0;    
}



.simple_date_text{
    color: var(--color-date);
    font-style: italic;
    font-weight: bold;
}



.top_player_with_play{
    font-style: italic;
    border-bottom: 0.125rem solid var(--color-solid-silver);
}


.strong_win_fil_text{
    color: var(--color-purple);
    font-weight: bold;
    font-size: 2.5rem;
    font-style: normal;
}



.strong_small_win_fil_text{
    color: var(--color-purple);
    font-weight: bold;
}




.strong_loose_fil_text{
    color: var(--color-red);
    font-weight: bold;
    font-size: 2.5rem;
    font-style: normal;
}



.strong_small_loose_fil_text{
    color: var(--color-red);
    font-weight: bold;
}




::selection{
  background: var(--color-pink);
  color: var(--color-white);
}
.wrapper{
  margin:14rem 0 0 28rem;
  overflow: hidden;
  max-width: 25rem;
  background: var(--color-white);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem var(--color-black);;
}
.wrapper .title-text{
  display: flex;
  width: 40rem;
}

.wrapper .title{
  width: 20rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 3rem;
  width: 20rem;
  overflow: hidden;
  margin: 2rem 0 0.8rem 0;
  justify-content: space-between;
  border: 0.2rem solid var(--color-light-grey);
  border-radius: 0.5rem;
}
.slide-controls .slide{
  width: 20rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: var(--color-black);
}
.slide-controls .slider-tab{
  position: absolute;
  height: 10rem;
  width: 10rem;
  left: 0;
  z-index: 0;
  border-radius: 0.3rem;
  background: -webkit-linear-gradient(left, var(--color-purple), var(--color-pink));
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: var(--color-white);
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: var(--color-black);
}
#login:checked ~ label.signup{
  color: var(--color-black);
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 20rem;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 40rem;
}
.form-container .form-inner form{
  width: 20rem;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 3rem;
  width: 20rem;
  margin: 1rem 0 0 0;
}
.form-inner form .field input{
  height: 3rem;
  width: 20rem;
  outline: none;
  padding: 0 0 0 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--color-light-grey);
  border-bottom-width: 0.2rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: var(--color-pink);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: var(--color-solid-silver);
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: var(--color-solid-silver);
}
.form-inner form .pass-link{
  margin: 0.3rem 0 0 0;
}
.form-inner form .signup-link{
  text-align: center;
  margin: 2rem 0 0 0;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: var(--color-pink);
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 3rem;
  width: 40rem;
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 10rem;
  width: 40rem;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, var(--color-purple), var(--color-pink),var(--color-purple), var(--color-pink));
  border-radius: 0.3rem;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: var(--color-white);
  padding: 0;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

